body {
	margin: 0px;
}

#app {
	position: relative;
	height: 80px;
}


.color-bar {
	padding-top: 80px;
	min-height: 100px;
	width:100%;
	border-top: 1px solid #ccc;
}

.color-picker {
	height: 100px;
	width: 144px;
	margin: 0px 2px 5px 2px;
}

.c-base-map {
	position: relative;
	height: 600px;
	background-repeat: no-repeat;
	background-image: url(../mainhall.png);
	z-index: 1;
}

.spot {
	height: 20px;
	width: 20px;	
	min-height: 20px;
	min-width: 20px;
	position: absolute;
	z-index: 99;
	border-radius: 20px;
	-moz-border-radius: 20px;
	color: white;
	text-align: center;
	border: 1px solid black;
	cursor: crosshair;
}

.color-button {
	display: inline-block;
	border: 1px solid grey;
	height: 50px;
	width: 70px;
	margin: 0px 2px 0px 2px;
}

.fader {
	text-align: center;
	height:200px;
}

.fader .caption {
	text-align: center;
	margin-bottom: 5px;
	
}

.fader input {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}

/* vertical sliders */
/* see: http://stackoverflow.com/questions/15935837/how-to-display-a-range-input-slider-vertically */
input[type=range][orient=vertical]
{
	writing-mode: bt-lr; /* IE */
	-webkit-appearance: slider-vertical; /* WebKit */
	width: 8px;
	height: 175px;
	padding: 0 5px;
	
}